* {
    box-sizing: border-box;
}

:root {
    /*font*/
    --font-main: 'Lato', sans-serif;
    --font-add: 'Georgia', sans-serif;

    /*nav font*/
    --font-size:20px;
    
    /*color-const*/
    --c-black: #000;
    --c-white: #FFFFFF;

    /*color*/
    --c-main: #01996D;
    --c-nav: #292929;
    --c-text: #484848;
    --c-bg: #245852;
    --c-border: #D6D6D6;
    --c-text_btn: #000000;
    --c-border_btn: #00ca79;
    --c-menu: rgb(127, 127, 127,0.1);
    --c-text_bg:rgb(255, 255, 255, 0.35);
}

body {
    margin: 0;   
    margin-inline: auto;
    max-width: 1920px;  
    height: 100%;                                           
}

.wide {
    max-width: 1920px;
    background: var(--c-white);
    margin-inline: auto;
    border: 1px solid var(--c-border);
    position: relative;
}
.pd-h {
    padding: 14px 276px;
    /* border-bottom: 1px solid var(--c-border); */
}
.wide-border {
    max-width: 100%;
    width: 100%;
    height: 2px;
    background: var(--c-border);
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    animation: line-go 4s reverse infinite;
}
@keyframes line-go {
    0% {
        background-color: var(--c-border_btn);
    }
    50% {
        background-color: var(--c-border);
    }
    100% {
        background-color: var(--c-border_btn);
    }
}

/*header start*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    max-width: 80px;
    height: 64px;
    display: flex;
    align-items: center;
}
.header__logo:hover {
    transform: rotate(360deg);
    transition: all 1s ease;
}
.nav__list {
    display: flex;
    align-items: center;
    gap: 72px;
    list-style: none;
    font-family: var(--font-main);
    font-weight: 500;
    font-size: var(--font-size);
    line-height: 24px;
}
.nav__list li:hover {
    transform: translateY(-1px);
    font-style: italic;
    font-weight: 700;
}
.header__nav a{
    text-decoration: none;
    color: var(--c-nav)
}
.header__links {
    display: flex;
    gap: 35px;
    flex-direction: row;
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.header__links a {
    text-decoration: none;
}
.links-header__log-in {
    color: var(--c-black);
    display: flex;
    align-items: center;
}
.links-header__log-in:hover {
    transform: translateY(-1px);
    font-style: italic;
    font-weight: 700;
}
.links-header__btn {
    padding: 13px 50px;
    background-color: var(--c-main);
    color: var(--c-white);
    border: 1px solid var(--c-white);
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    animation: fontBTN 4s infinite;
}
.links-header__btn:hover {
    box-shadow: 0 0 10px 0 var(--c-border_btn) inset, 0 0 10px 4px var(--c-border_btn);
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--c-border_btn);
}
.links-header__btn a {
    text-decoration: none;
}
/*header end*/

/*menu button*/
.menu__btn {
    display: none;
}
.input {
    opacity: 0;
}
/*short start*/
.short {
    padding: 0px 207px;
}
.short__container {
    max-width: 1920px;
    display: grid;
    grid-template-areas: 
    "info img";
    align-items: center;
    justify-content: space-between;
    padding: 224px 0px;
}
.container-short__column {
    grid-area: info;
    max-width: 480px;
    padding-right: 20px;
    z-index: 1;
}
.column-short__title {
    font-family: var(--font-add);
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    color: var(--c-main);
}
.column-short__description {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: var(--c-text)
}
.column-short__btn {
    padding: 20px 50px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    background-color: var(--c-main);
    color: var(--c-white);
    border: 1px solid var(--c-main);
    border-radius: 4px;
    cursor: pointer;
}
.column-short__btn:hover {
    box-shadow: 0 0 10px 0 var(--c-border_btn) inset, 0 0 10px 4px var(--c-border_btn);
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--c-border_btn);
}
.container-short__img {
    grid-area: img;
    position: absolute;
    top: 120px;
    right: 0;
    max-width: 792px;
    width: 100%;
    z-index: 0;
}

/*block how-it-works*/
.short__explanation {
    margin-top: 169px;
    max-width: 1570px;
}
.explanation-short__comment {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
    color: var(--c-text)
}
.explanation-short__row-first {
    display: flex;
    gap: 136px;
    flex-direction: row;
}
.row_first-short__col-6 {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}
.col_6-short__title {
    max-width: 584px;
    font-family: var(--font-add);
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: var(--c-main);
    margin: 0;
}
.col_6-short__description {
    max-width: 671px;
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--c-text);
    margin: 0;
}
.explanation-short__row-second {
    margin-top: 82px;
    display: flex;
    gap: 66px;
    flex-direction: row;
    margin-bottom: 393px;
}
.row_second-short__col-4 {
    flex: 0 1 33.333%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.col_4-short__title {
    margin: 0;
    margin-bottom: 21px;
    font-family: var(--font-add);
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: var(--c-black)  
}
.col_4-short__description {
    margin: 0;
    margin-bottom: 66px;
    height: 150px;
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--c-text)
}
.col_4-short__img {
    width: 100%;
    min-width: 320px;
}
.wide__story {
    background-color: var(--c-bg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "col media";
    max-width: 1920px;
    padding: 229px 207px 177px 207px;
    align-items: center;
    gap: 35px;
}
.story-wide__column {
    grid-area: col;
    max-width: 580px;
}
.column-wide__title {
    font-family: var(--font-add);
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: var(--c-white);
    margin-bottom: 33px;
}
.column-wide__description {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: var(--c-white);
    margin-bottom: 57px;
}
.column-wide__btn {
    padding: 20px 50px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: var(--c-white);
    background: var(--c-main);
    border: 1px solid var(--c-main);
    border-radius: 4px;
    cursor: pointer;
}
.column-wide__btn:hover {
    box-shadow: 0 0 10px 0 var(--c-border_btn) inset, 0 0 10px 4px var(--c-border_btn);
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--c-border_btn);
}
.story-wide__media {
    grid-area: media;
    max-width: 895px;
    width: 100%;
}
.short__product {
    display: grid;
    grid-template-areas: 
    "img col";
    gap: 87px;
    padding: 120px 68px 242px 128px;
    align-items: center;
}
.product-short__image {
    grid-area: img;
    max-width: 638px;
    width: 100%;
}
.product-short__column {
    grid-area: col;
    max-width: 584px;
}
.column-short__product {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: var(--c-text)
}
.pd-f {
    padding: 14px 276px;
    background: var(--c-bg);
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__nav a{
    text-decoration: none;
    color: var(--c-white)
}

/*settings*/
@media (max-width:1600px) {
    /*header*/
    .pd-h {
        padding: 20px 80px;
    }
    /*short__container*/
    .short {
        padding: 0px 80px;
    }
    /*short__explanation*/
    .explanation-short__row-second {
        margin-bottom: 160px;
    }
    /*wide__story*/
    .wide__story {
        padding: 60px 90px; 
    }
    /*short__product*/
    .short__product {
        padding: 60px 28px 102px 20px;
    }
    /*footer*/
    .pd-f {
        padding: 20px 80px;
    }
}
@media (max-width:1480px) {
    /*short__container*/
    .column-short__title, .column-short__description {
        background: var(--c-text_bg);
    }
    /*short__explanation*/
    .explanation-short__row-second {
        flex: 0 1 50%;
        flex-wrap: wrap;
        justify-content: center;
    }
    /*wide__story*/
    .wide__story {
        grid-template-columns: 1fr;
        grid-template-areas:
        "col"
        "media";
        justify-content: center;
    }
    .story-wide__column {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}
@media (max-width:1300px) {
    /*header*/
    .header__logo {
        padding-left: 50px;
    }
    .header__nav ul {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 104px;
        left: 69px;
        width: 200px;
        margin: 0;
        gap: 30px;
        list-style: none;
        text-align: center;
        padding: 30px 0px 145px 0px;
        transition: all .2s ease-in-out;
        z-index: 3;
        background: var(--c-main);
        line-height: 250%;
        justify-content: center;
        border-radius: 0px 14px 14px 0px;
        text-shadow: 0 0 3px var(--c-black);
        border: 2px solid var(--c-black);
        box-shadow: 3px 3px 15px var(--c-black);;
    }
    .header__links {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 355px;
        left: 72px;
        width: 194px;
        margin: 0;
        text-align: center;
        transition: all .2s ease-in-out;
        z-index: 3;
        line-height: 250%;
        justify-content: center;
    }
    .header__links a{
        text-decoration: underline;
    }
    .links-header__log-in {
        display: flex;
        justify-content: center;
    }
    .links-header__btn {
        padding: 10px 30px;
        color: var(--c-black);
        border: 1.5px solid var(--c-white);
        animation: borderBTN 4s infinite;
    }
    .header__nav a {
        color: var(--c-white);
    }
    .label {
        display: block;
    }
    input {
        display: none;
    }
    .menu__btn {
        position: absolute;
        display: flex;
        align-items: center;
        top: 30px;
        left: 30px;
        width: 200px;
        cursor: pointer;
        z-index: 1;
    }
    span {
        padding: 10px;
        transition: all .2s ease-in-out;
    }
    .header:has(#menu-nav:checked) .nav__list {
        transform: translateX(0%);
        visibility: visible;
    }
    .header:has(#menu-nav:checked) .header__links {
        transform: translateX(0%);
        visibility: visible;
    }
    .header:has(#menu-nav:checked) span {
        background: var(--c-menu);
        padding: 10px 10px;
        border-radius: 25%;
    }
    /*short__container*/
    .short__container {
        padding: 320px 0px 140px 0px;
    }
    /*short__product*/
    .short__product {
        grid-template-areas: 
        "col"
        "img";
        gap: 40px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .footer__nav ul {
        gap: 30px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }
}
@media (max-width:1008px) {
    /*short__explanation*/
    .explanation-short__row-first {
        flex-wrap: wrap;
        gap: 40px;
    }
    .row_first-short__col-6 {
        width: 100%;
        flex: 1 1 100%;
        justify-content: center;
    }
    .explanation-short__row-second {
        margin-top: 40px;
    }
    .col_4-short__description {
        margin-bottom: 20px;
        height: 100%;
    }
    /*wide__story*/
    .wide__story {
        padding: 30px 50px;
    }
}
@media (max-width:750px) {
    /*short__container*/
    .short__container {
        padding: 420px 0px 0px 0px;
    }
    .column-short__title {
        font-size: 36px;
        line-height: 44px;
    }
    /*short__explanation*/
    .col_6-short__title {
        font-size: 36px;
        line-height: 44px;
    }
    /*wide__story*/
    .column-wide__title {
        font-size: 36px;
        line-height: 44px;
    }
}
@media (max-width:640px) {
    .header__logo {
        padding-left: 70px;
    }
    .pd-h {
        padding: 20px 30px;
    }
    /*short__container*/
    .short__container {
        padding: 150px 0px 240px 0px;
    }
    /*short__explanation*/
    .short__explanation {
        margin-top: 60px;
    }
    .explanation-short__row-second {
        margin-bottom: 60px;
    }
    /*wide__story*/
    .column-wide__title {
        margin: 0;
    }
    .column-wide__description {
        margin: 30px 0px;
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 100%;
    }
}
@media (max-width:500px) {
    .short {
        padding: 20px;
    }
    /*short__container*/
    .short__container {
        padding: 150px 0px 20px 0px;
    }
}
/*animation*/
@keyframes borderBTN {
    0% {
        border-color: var(--c-black);
    }
    50% {
        border-color: var(--c-white);
    }
    100% {
        border-color: var(--c-black);
    }
}
@keyframes fontBTN {
    0% {
        color: var(--c-white);
    }
    40% {
        color: var(--c-black);
    }
    60% {
        color: var(--c-white);
    }
}